<h1>Secrets</h1>
<% @secrets.each do |secret| %>
    <div>
    <p><%= secret.content %></p>
    <p><%= secret.likes.count %> likes</p>

    <% if @likes.find_by(user: current_user,secret: secret) %>
        <form method="post" action="/likes/<%= secret.id %>">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input class="btn btn-primary" type='submit' value='Unlike'>    
        </form>
    <% else %>
        <form method='post' action="/likes/<%= secret.id %>">
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
            <input class="btn btn-primary" type='submit' value='Like'>
        </form>
    <% end %>

    <% if current_user == secret.user %>
    <form method="post" action="/secrets/<%= secret.id %>">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input class="btn btn-primary" type='submit' value='Delete Secret'>
    </form>
    <% end %>

    </div>
 <% end %>